/* founder section */
#founder-section{
  /* border: 1px solid; */
  height: 80dvh;
  align-content: center;
  padding-left: 2rem;
  padding-bottom: 2rem;
}
#founder-section h2{
  /* border: 1px solid; */
  padding-left: 4rem;
  margin-bottom: none;

  font-size: calc(1dvw + 1rem);

  animation: slidein 1200ms ease-in-out;
}
#founder-section div{
  /* border: 1px solid; */
  display: flex;
  gap: 2rem;
  
}
#founder-section div img{
  border: 5px dashed var(--light-brown);
  border-radius: 20px;
  width: calc(10dvw + 250px);
  z-index: 1;

  animation: slidein 1000ms ease;
}
#founder-section div p{
  /* border: 1px solid; */
  width: 60dvw;

  font-size: 1.5dvw;
  align-content: center;
  /* text-align: justify; */
  /* text-justify: inter-word; */

  animation: slidein 1200ms ease;
}
@media(max-width: 786px){
  #founder-section div img{
    width: calc(10dvw + 100px);
  }
  #founder-section div p{
    font-size: small;
  }
}
@media(max-width: 425px){
  #founder-section h2{
    padding-left: 1rem;
  }
  #founder-section div{
    flex-direction: column;
    gap: 1dvh;
  }
}

/* mission section */
#mission-section{
  /* border: 1px solid; */
  height: 80dvh;
  align-content: center;
  padding-right: 2rem;
  padding-bottom: 2rem;
}
#mission-section h2{
  /* border: 1px solid; */
  padding-right: 4rem;
  margin-bottom: none;

  font-size: calc(1dvw + 1rem);
  text-align: right;

  animation: slidein-right 1200ms ease-in-out;
  animation-timeline: view();
  animation-range: entry 0;
}
#mission-section div{
  /* border: 1px solid; */
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
  
}
#mission-section div img{
  border: 5px dashed var(--light-brown);
  border-radius: 20px;
  width: calc(10dvw + 450px);
  max-height: 400px;
  z-index: 1;
  align-self: center;

  animation: slidein-right 1000ms ease;
  animation-timeline: view();
  animation-range: entry 0;
}
#mission-section div p{
  /* border: 1px solid; */
  width: 60dvw;

  font-size: 1.5dvw;
  align-content: center;
  text-align: right;
  /* text-justify: inter-word; */

  animation: slidein-right 1200ms ease;
  animation-timeline: view();
  animation-range: entry 0;
}
@media(max-width: 786px){
  #mission-section div img{
    width: calc(10dvw + 100px);
  }
  #mission-section div p{
    font-size: small;
  }
}
@media(max-width: 425px){
  #mission-section h2{
    padding-left: 1rem;
  }
  #mission-section div{
    flex-direction: column;
    justify-self: right;
    gap: 1dvh;
  }
  #mission-section div img{
    align-self: none;
  }
}

/* vision section */
#vision-section{
  /* border: 1px solid; */
  height: 80dvh;
  align-content: center;
  padding-left: 2rem;
  padding-bottom: 2rem;
}
#vision-section h2{
  /* border: 1px solid; */
  padding-left: 4rem;
  margin-bottom: none;

  font-size: calc(1dvw + 1rem);

  animation: slidein 1200ms ease-in-out;
  animation-timeline: view();
  animation-range: entry 0;
}
#vision-section div{
  /* border: 1px solid; */
  display: flex;
  gap: 2rem;
  
}
#vision-section div img{
  border: 5px dashed var(--light-brown);
  border-radius: 20px;
  width: calc(10dvw + 250px);
  z-index: 1;

  animation: slidein 1000ms ease;
  animation-timeline: view();
  animation-range: entry 0;
}
#vision-section div p{
  /* border: 1px solid; */
  width: 60dvw;

  font-size: 1.5dvw;
  align-content: center;
  /* text-align: justify; */
  /* text-justify: inter-word; */

  animation: slidein 1200ms ease;
  animation-timeline: view();
  animation-range: entry 0;
}
@media(max-width: 786px){
  #vision-section div img{
    width: calc(10dvw + 100px);
  }
  #vision-section div p{
    font-size: small;
  }
}
@media(max-width: 425px){
  #vision-section h2{
    padding-left: 1rem;
  }
  #vision-section div{
    flex-direction: column;
    gap: 1dvh;
  }
}

/* story section */
#story-section{
  /* border: 1px solid; */
  height: fit-content;
  align-content: center;
  padding-right: 2rem;
  padding-bottom: 2rem;
}
#story-section h2{
  /* border: 1px solid; */
  padding-right: 4rem;
  margin-bottom: none;

  font-size: calc(1dvw + 1rem);
  text-align: right;

  animation: slidein-right 1200ms ease-in-out;
  animation-timeline: view();
  animation-range: entry 0;
}
#story-section div{
  /* border: 1px solid; */
  display: flex;
  flex-direction: row-reverse;
  gap: 2rem;
  
}
#story-section div img{
  border: 5px dashed var(--light-brown);
  border-radius: 20px;
  width: calc(10dvw + 450px);
  max-height: 400px;
  z-index: 1;
  align-self: center;

  animation: slidein-right 1000ms ease;
  animation-timeline: view();
  animation-range: entry 0;
}
#story-section div p{
  /* border: 1px solid; */
  width: 60dvw;

  font-size: 1.5dvw;
  align-content: center;
  text-align: right;
  /* text-justify: inter-word; */

  animation: slidein-right 1200ms ease;
  animation-timeline: view();
  animation-range: entry 0;
}
@media(max-width: 786px){
  #story-section div img{
    width: calc(10dvw + 100px);
  }
}
@media(max-width: 425px){
  #story-section h2{
    padding-left: 1rem;
  }
  #story-section div{
    flex-direction: column;
    justify-self: right;
    gap: 1dvh;
  }
  #story-section div img{
    align-self: none;
  }
  #story-section div p{
    font-size: 1rem;
  }
}
