/* banner section */
#banner-section{
  height: 70dvh;
  padding: 1rem;
  align-content: center;
}
#banner-container{
  /* border: 1px solid; */
  border-radius: 20px;
  background: url(../assets/banner.jpg);
  /* background-image: linear-gradient(to right, var(--dark-brown), var(--light-brown)); */
  /* background-image: url(../assets/banner3.png), linear-gradient(to right, var(--dark-brown), var(--light-brown)); */
  background-size: cover;
  background-position-x: 50%;
  /* margin: 4em; */
  /* padding: 4em; */
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  animation: slidein 1s ease;
  transition: 150ms ease-in-out;
}
#banner-container:hover{
  /* transform: scale(1.05); */
  /* box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.05), -12px -12px 12px rgba(255, 255, 255, 0.05); */
  /* border: 1px solid; */
  /* box-shadow: 12px 12px 12px black, -12px -12px 12px white; */
}
#banner-container #banner-slogan{
  /* border: 1px solid; */
  font-size: calc(3dvw + 1rem);
  /* text-align: center; */
}
#banner-container a{
  /* border: 1px solid; */
  margin: 1em;
  background: var(--brown-gradient);
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
  font-size: 1em;
  padding: 1em;
  border-radius: 20px;
  text-decoration: none;
  color: white;

  transition: 0.5s ease;
}
#banner-container a:hover{
  border: 1px solid;
  transform: scale(1.1);
  box-shadow: -12px -12px 12px rgba(255, 255, 255, 0.05), 12px 12px 12px rgba(0, 0, 0, 0.05);

}

/* top items */
#top-section{
  /* border: 1px solid; */
  padding-top: 4rem;
  padding-bottom: 4rem;
  align-content: center;
}
#top-header{
  /* border: 1px solid; */
  /* position: absolute; */
  font-size: calc(3dvw + 1rem);
  padding: 10px;
  text-align: center;

  animation: slidein-right 1s ease;
}
#top-header:hover{
  cursor: default;
}
#top-container{
  /* border: 1px solid; */
  display: grid;
  justify-content: center;
  gap: 1dvw;
  margin-bottom: 1em;
  grid-template-columns: repeat(4, 10dvw);
  grid-template-rows: repeat(2, 10dvw);
  grid-template-areas:
    "box-1 box-2 box-2 box-3" 
    "box-1 box-4 box-5 box-5";
}
.topitem{
  /* border: 1px solid; */
  /* width: 250px; */
  /* height: 250px; */
  position: relative;
  color: white;
  text-decoration: none;
  background-image: linear-gradient(to right, rgba(113, 77, 56, 0.5), rgba(212, 158, 115, 0.5));
  background-color: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10px);
  border-radius: 20px;

  animation: appear 1s ease;
  animation-timeline: view();
  animation-range: entry 0;
  transition: 500ms ease;
}
.topitem:hover{
  transform: scale(1.3);
  box-shadow: -12px -12px 12px rgba(255, 255, 255, 0.05), 12px 12px 12px rgba(0, 0, 0, 0.05);
  border: 1px solid;
  cursor: pointer;
  z-index: 10;
}
.topitem img{
  filter:opacity(0.5);
  position: absolute;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}
.topitem .item-name{
  /* border: 1px solid; */
  padding: 0;
  margin: 1rem;
  margin-bottom: 0;

  font-size: 2vw;
}
.topitem .item-price{
  /* border: 1px solid; */
  /* display: none; */
  font-size: 1vw;
  margin: 1rem;
  margin-top: 0;
}
@media(max-width: 900px){
  #top-container{
    gap: 0.5em;
    grid-template-columns: 120px 120px 120px 120px;
    grid-template-rows: 120px 120px;
    grid-template-areas: 
      "box-1 box-1 box-2 box-3"
      "box-4 box-5 box-5 box-3";
  }
  .topitem .item-name{
    font-size: 4vw;
  }
  .topitem .item-price{
    font-size: 2vw;
  }
}
@media(max-width: 425px){
  #top-container{
    gap: 0.5em;
    grid-template-columns: 80px 80px 80px;
    grid-template-rows: 100px 100px 100px;
    grid-template-areas: 
      "box-1 box-1 box-2"
      "box-4 box-3 box-2"
      "box-4 box-5 box-5";
  }
   .topitem .item-name{
    font-size: 5vw;
  }
  .topitem .item-price{
    font-size: 3vw;
  }
}

/* rewards section */
#rewards-section{
  /* border: 1px solid; */
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
#reward-header{
  /* border: 1px solid; */
  /* position: absolute; */
  font-size: calc(3dvw + 1rem);
  padding: 10px;
  text-align: center;
}
#reward-header:hover{
  cursor: default;
}
#rewards-container{
  /* border: 1px solid; */
  /* border: 5px dashed var(--light-brown); */
  border-radius: 20px;
  /* width: 70dvw; */
  /* width: fit-content; */
  /* overflow-x: hidden; */
  /* padding: 1rem; */
  /* gap: 2rem; */
  display: flex;
  /* justify-content: center; */
  align-self: center;
  /* overflow-x: auto; */
  scroll-snap-type: x mandatory;

  animation: slidein 1s ease;
  animation-timeline: view();
  animation-range: entry 0;
  transition: 100ms ease;
}
.reward-item{
  /* border: 1px solid; */
  border-radius: 10px;
  background: var(--brown-gradient);
  height: fit-content;

  display: flex;
  gap: 0rem;

  color: white;
  text-decoration: none;
  font-weight: bolder;

  transition: 500ms ease;
}
.reward-item h2{
  /* border: 1px solid; */
  position: relative;
  border-right: 5px dashed var(--light-brown);
  border-radius: 10px 0 0 10px;
  /* background: linear-gradient(to bottom right, #FF0000, #8E0904); */
  background: var(--brown-gradient);
  width: 35dvw;
  height: 30dvh;
  z-index: 1;

  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 4rem;
  font-weight: bolder;
}
.reward-item h2 img{
  border-radius: 10px 0 0 10px;
  filter: opacity(0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.reward-item h3{
  /* border: 1px solid; */
  height: fit-content;
  transform: rotate(-90deg);

  margin: 0;

  display: flex;
  /* justify-content: center; */
  align-self: center;
  /* align-content: center; */

  font-size: 3rem;
}
.reward-item:hover{
  border: 1px solid;
  transform: scale(1.3);
  box-shadow: -12px -12px 200px rgba(255, 255, 255, 0.1), 12px 12px 200px rgba(255, 255, 255, 0.1);  width: fit-content;

}

@media(max-width:768px){
  #reward-container{
    padding: 0;
  }
  .reward-item{
    transform: scale(0.5);
    height: 30dvh
  }
  .reward-item h2{
    width: 50dvh;
    height: 30dvh;
    
  }
  .reward-item h3{
    transform: scale(0.8) rotate(-90deg);
  }
}


/* about section */
#about-section{
  /* border: 1px solid; */
  padding: 2em;
  align-content: center;
}
#about-container{
  /* position: relative; */
  /* border: 1px solid; */
  border-radius: 20px;
  width: 80dvw;
  background-image: linear-gradient(to right, rgba(113, 77, 56, 0.5), rgba(212, 158, 115, 0.5));
  background-color: rgba(0, 0, 0, 0.05);
  backdrop-filter: blur(10px);
  padding: 0;
  margin: 2em;
  display: flex;
  justify-self: center;
  justify-content: center;
  gap: 2rem;

  transition: 500ms ease ;
  animation: slidein 1s ease;
  animation-timeline: view();
  animation-range: entry 0;
}
#about-container:hover{
  transform: scale(1.1);
  box-shadow: -12px -12px 12px rgba(255, 255, 255, 0.05), 12px 12px 12px rgba(0, 0, 0, 0.05);
  border: 1px solid;
}
#about-container img{
  /* position: absolute; */
  align-self: center;
  min-width: 400px;
  border: 5px dashed var(--light-brown);
  border-radius: 20px;
  overflow: hidden;
}
#about-container #about-content{
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  margin: 1rem;
  justify-content: center;
  gap: 0.5rem;
}
#about-container #about-content > p{
  border: 5px dashed var(--light-brown);
  text-align: justify;
  text-justify: inter-word;
  font-size: calc(1dvw + 1rem);
  padding: 1rem;
  margin-bottom: 0;
}
#about-container #about-content > a{
  /* border: 1px solid; */
  background: var(--brown-gradient);
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
  font-size: 1em;
  padding: 1em;
  border-radius: 20px;
  text-decoration: none;
  color: white;
  width: fit-content;

  transition: 0.5s ease;
}
#about-container a:hover{
  border: 1px solid;
  transform: scale(1.1);
  box-shadow: -12px -12px 12px rgba(255, 255, 255, 0.05), 12px 12px 12px rgba(0, 0, 0, 0.05);

}
@media(max-width: 1024px){
  #about-container {
    flex-direction: column;
    gap: 1px;
  }
  #about-container img{
    margin-top: 1rem;
    margin-bottom: 0px;
    min-width: 100px;
    max-width: 250px;
  }
  #about-container #about-content > p{
    margin: none;
  }
}



