

#form-section{
    /* border: 1px solid; */
    height: 100dvh;
    padding-top: 4rem;
    padding-bottom: 2rem;

    justify-items: center;
}
#user-form-section #item-name{
    position: absolute;
    top: 15%;
    left: 40%;
    transform: translate(-50%, 0);
}

#user-form-section{
    /* border: 1px solid; */
    position: relative;
    border-left: 100px solid var(--dark-brown);
    /* margin-left: 0; */
    border-radius: 20px;
    width: 30dvw;
    height: 90dvh;
    background: var(--brown-gradient);
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1);
    padding: 2rem;

    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 1rem;

    animation: slidein 1s ease;
}
/* #user-form-section::before{
    border: 1px solid;
    border-radius: 20px 0 0 20px;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1);

    position: absolute;
    left: 0px;
    content: '';
    width: 5dvw;
    height: 100%;
    background: var(--dark-brown);
    z-index: 0;
} */

#user-form-section #user-form{
   /* border: 1px solid; */
   padding-top: 0;

   display: flex;
   flex-direction: column;
   gap: rem;

   width: 80%;

}
@media(max-width: 768px){
    
    #form-section{
        height: 100dvh;
    }
    #user-form-section{
            border-left: 25px solid var(--dark-brown);

        width: 70dvw;
        height: 90dvh;
    }
    
}
#user-form-section #user-form p{
    margin-top: -10px;
    padding-left: 1rem;
    color: rgb(255, 0, 0);
    border-radius: 20px;
    /* text-shadow: 1px 5px 10px rgba(255, 0, 0, 0.5); */
}
#user-form-section #user-form label{
    /* border: 1px solid; */
    border-radius: 20px;
    /* background: var(--brown-gradient);
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1); */
    padding: .5rem;
    padding-left: 1rem;
    font-size: 1rem;

}
#user-form-section #user-form input{
    padding-left: 1rem;
    /* background: var(--brown-gradient); */
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid white;
    border-radius: 10px;
    width: 90%;
    height: 2rem;
    background: none;
    color: white;
    font-size: 1rem;
    text-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
    align-self: center;

    transition: 250ms ease;
}
#user-form-section #user-form input:focus{
    background: white;
    color: black;
    transform: scale(1.1);
    outline: white;
    padding: 1rem;
}
#user-form-section #user-form button[type=submit]{
    /* border: 1px solid; */
    border: none;
    border-radius: 20px;
    color: white;
    width: fit-content;
    background: var(--brown-gradient);
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
    padding: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 1rem;
    text-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;

    position: absolute;
    right: 50px;
    bottom: 50px;
    transition: 500ms ease;
}

#user-form-section #user-form select{
    margin-top: 1rem;
    padding-left: 1rem;
    background: var(--brown-gradient);
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
    border: 1px solid white;
    border-radius: 10px;
    width: 90%;
    height: 2rem;
    background: none;
    color: white;
    font-size: 1rem;
    text-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
    align-self: center;

    transition: 500ms ease;
}
#user-form-section #user-form select:focus{
    transform: scale(1.1);
    /* outline: white; */
    /* padding: 1rem; */
}
#user-form-section #user-form select option{
    color: black;
    background-color: var(--brown-gradient);
}
#user-form-section #user-form button[type=submit]:hover{
    border: 1px solid;
    transform: scale(1.1);
    cursor: pointer;
}
#user-form-section #user-form hr{
    position: absolute;
    border-color: white;
    background-color: white;
    color: white;
    bottom: 100px;
    width: 80%;
}

#user-form-section #user-form #price{
    position: absolute;
    bottom: 50px;
}