body{
  margin: 0;
  background: linear-gradient(to bottom right, rgb(113 77 56), rgb(212 158 115));
  color: white;
  font-weight: bolder;
  text-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5);
  overflow-x: hidden;
}
::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background: rgb(212 158 115);
}
::-webkit-scrollbar-thumb{
  background: rgb(113 77 56);
}
.bg-tile1{
  /* border: 1px solid; */
  border-top: 5px dashed rgb(212 158 115);
  background-image: url(../assets/tile1.png);
  background-size: 5%;
  animation: bg-pan 180s linear infinite reverse;
}
.bg-tile2{
  /* border: 1px solid; */
  border-top: 5px dashed rgb(212 158 115);
  background-image: url(../assets/tile2.png);
  background-size: 5%;
  animation: bg-pan 90s linear infinite;
}
.bg-tile3{
  /* border: 1px solid; */
  border-top: 5px dashed rgb(212 158 115);
  background-image: url(../assets/tile3.png);
  background-size: 5%;
  animation: bg-pan 90s linear infinite;
}
.bg-tile4{
  /* border: 1px solid; */
  border-top: 5px dashed rgb(212 158 115);
  background-image: url(../assets/tile4.png);
  background-size: 5%;
  animation: bg-pan 90s linear infinite reverse;
}
@media(max-width: 768px){
  .bg-tile1{
    background-size: 15%;
  }
  .bg-tile2{
    background-size: 15%;
  }
  .bg-tile3{
    background-size: 15%;
  }
  .bg-tile4{
    background-size: 15%;
  }

}
@keyframes scroll-left{
  from{transform: translateX(0);}
  to{transform: translateX(-100%);}
}
@keyframes bg-pan{
    from{background-position: 0 0;}
    to{background-position: -1000px 0;}
}
@keyframes appear{
  from{opacity:0;scale:0.5}
  to{opacity:1;scale:1;}
}
@keyframes spin{
  from{
  }
  to{
    transform-origin: 50% 50%;
    transform: rotate(360deg);
  }
}
@keyframes slidein{
  from{transform: translateX(-100vw);}
  to{transform: translateX(0px);}
}
@keyframes slidedown{
  from{transform: translateY(-50vh);}
  to{transform: translateY(0px);}
}

/* navbar */
#navbar{
  /* border: 1px solid; */
  position: sticky;
  top: 0;
  padding: 1em;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  animation: slidedown 1s ease;
  z-index: 999;
}
.navitem{
  /* border: 1px solid; */
  border-radius: 20px;
  text-decoration: none;
  color: white;
  padding: 8px;
  padding-left: 2em;
  padding-right: 2em;
  transition: 150ms ease;
}
.navitem:hover{
  transform: scale(1.1);
}
.current-nav{
  background: linear-gradient(to bottom right, rgb(113 77 56), rgb(212 158 115));
  box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.1);
}
@media(max-width:768px){
  #navbar{
    font-size: 10px;
  }
}

/* download section */
#download-section{
  display: flex;
  justify-content: center;
  padding: 2rem;
}
#download-container{
  border-radius: 20px;
  background: linear-gradient(to bottom right, rgb(113 77 56), rgb(212 158 115));
  width: 80dvw;
  height: 80dvh;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: space-evenly;

  animation: slidein 1s ease;
}
#download-container #text-container{
  display: flex;
  flex-direction: column;
}
#download-container #download-header{
  /* border: 1px solid; */
  font-size: calc(1rem + 2dvw);
}
#download-container #link-container{
  /* border: 1px solid; */
}
#download-container #link-container > a{
  text-decoration: none;
  color: white;
}
#download-container #screenshot-container{
  /* border: 1px solid; */
  border-radius: 20px;
  width: 50%;
  display: flex;
  overflow-x: auto;
  gap: 1rem;
}
#download-container #screenshot-container > img{
  border-radius: 20px;
  max-width: 30%;
}

/* rewards section */
#rewards-section{
  /* border: 1px solid; */
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
#reward-header{
  /* border: 1px solid; */
  /* position: absolute; */
  font-size: calc(3dvw + 1rem);
  padding: 10px;
  text-align: center;
}
#reward-header:hover{
  cursor: default;
}
#rewards-container{
  /* border: 1px solid; */
  border: 5px dashed rgb(212 158 115);
  border-radius: 20px;
  width: 80dvw;
  overflow-x: hidden;
  padding: 1rem;
  gap: 2rem;
  display: flex;
  /* justify-content: center; */
  align-self: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  animation: slidein 1s ease;
  animation-timeline: view();
  animation-range: entry 0;
  transition: 100ms ease;
}
.reward-item{
  /* border: 1px solid; */
  flex: none;
  border-radius: 20px;
  background-image: linear-gradient(to right, rgba(113, 77, 56, 1), rgba(212, 158, 115, 1));
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 0.5rem;
  align-items: center;
  min-width: 10dvw;
  height: 10dvw;
  text-decoration: none;
  color: white;
  font-size: calc(1dvw + 0.5rem);

  transition: 250ms ease;
}
.reward-item img{
  border-radius: 20px;
  width: 8dvw;
}
.reward-item:hover{
  cursor: pointer;
  border: 1px solid;
  transform: scale(1.1);
}
/* footer section */
footer{
  background: rgb(113 77 56);
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 5px;
  gap: 2rem;
  /* box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.1); */
}
footer > a{
  transition: 250ms ease;
}
footer > a:hover{
  transform: scale(1.1);
}
