/* download section */
#download-section{
  display: flex;
  justify-content: center;
  padding: 2rem;
}
#download-container{
  border-radius: 20px;
  background: var(--brown-gradient);
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: space-evenly;

  animation: slidein 1s ease;
}
#download-container #text-container{
  /* border: 1px solid; */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#download-container #download-header{
  /* border: 1px solid; */
  font-size: calc(1rem + 2dvw);
}
#download-container #link-container{
  /* border: 1px solid; */
  align-self: center;
}
#download-container #link-container a{
  width: fit-content;
  text-decoration: none;
  color: white;
}
#download-container #link-container a img{
  width: fit-content;
  height: 5dvh;
}
#download-container #link-container a:hover{
  transform: scale(1.1);
}
#download-container #screenshot-container{
  border: 5px dashed rgba(212, 158, 115, 1);
  width: 50%;
  display: flex;
  overflow-x: auto;
  margin: 1rem;
}
#download-container #screenshot-container img{
  margin: 1rem;
  border-radius: 20px;
  max-width: 30%;
}
@media(max-width: 768px){
  #download-container #link-container a img{
    width: fit-content;
    height: 3dvh;
  }
}

/* rewards section */
#rewards-section{
  /* border: 1px solid; */
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
#reward-header{
  /* border: 1px solid; */
  /* position: absolute; */
  font-size: calc(3dvw + 1rem);
  padding: 10px;
  text-align: center;
}
#reward-header:hover{
  cursor: default;
}
#rewards-container{
  /* border: 1px solid; */
  border: 5px dashed var(--light-brown);
  border-radius: 20px;
  width: 80dvw;
  padding: 3rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
  
  display: flex;
  gap: 2rem;
  /* justify-content: center; */
  align-items: center;
  align-self: center;
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  animation: slidein 1s ease;
  animation-timeline: view();
  animation-range: entry 0;
  transition: 100ms ease;
}

.reward-item{
  /* border: 1px solid; */
  border-radius: 10px;
  background: var(--brown-gradient);
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
  width: fit-content;
  height: fit-content;

  display: flex;
  gap: 0rem;

  color: white;
  text-decoration: none;
  font-weight: bolder;

  transition: 500ms ease;
}
.reward-item h2{
  /* border: 1px solid; */
  position: relative;
  border-right: 5px dashed var(--light-brown);
  border-radius: 10px 0 0 10px;
  /* background: linear-gradient(to bottom right, #FF0000, #8E0904); */
  background: var(--brown-gradient);
  width: 35dvw;
  height: 30dvh;
  z-index: 1;

  margin: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: 4rem;
  font-weight: bolder;
}
.reward-item h2 img{
  border-radius: 10px 0 0 10px;
  filter: opacity(0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.reward-item h3{
  /* border: 1px solid; */
  height: fit-content;
  transform: rotate(-90deg);

  margin: 0;

  display: flex;
  /* justify-content: center; */
  align-self: center;
  /* align-content: center; */

  font-size: 3rem;
}
.reward-item:hover{
  border: 1px solid;
  transform: scale(1.1);
}

@media(max-width:768px){
  #download-container{
    flex-direction: column;
    gap: 0;
  }
  #download-container #screenshot-container{
    width: fit-content;
  }
  #download-container #screenshot-container img{
    margin: .5rem;
    border-radius: 10px;
  }
  #rewards-container{
    padding-top: 0;
    height: fit-content;
    height: 30dvh;
    /* padding-left: 2rem; */
    padding-bottom: 0;

    gap: 4rem;
  }
  .reward-item{
    transform: scale(0.5);
    height: 30dvh;
    margin: -50px;
    margin-left: -150px;
    margin-right: -150px;
  }
  .reward-item h2{
    font-size: 2rem;
    width: 50dvh;
    height: 30dvh;
    
  }
  .reward-item h3{
    transform: scale(0.8) rotate(-90deg);
  }
  .reward-item:hover{
    width: transform(scale);
  }
}
/* pop up section */
#popup{
  /* border: 1px solid; */
  width: fit-content;
  position: fixed;
  border-radius: 20px;
  background: var(--brown-gradient);
  padding: 5dvw;
  z-index: 999;
  top: 50%;
  left: 55%;
  transform: translate(-50%, 0);
  backdrop-filter: blur(0px);

  display: flex;
  flex-direction: column;
  gap: 0px;
}
#popup div{
  display: flex;
  align-content: center;
  gap: 1rem;
}
#popup div h3{
  font-size: calc(5dvw + 0.5rem);
  margin-bottom: 0;
}
#popup div a{
  transition: 500ms ease;
}
#popup div a img{
  width: fit-content;
  height: 5dvh;
}
#popup div a:hover{
  transform: scale(1.1);
}
@media(max-width: 768px){
  #popup{
    width: 80dvw;
  }
}